*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    min-width: 370px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.389);
}


.logo .menu-bar{
    position: absolute;
    top: 12px;
    opacity: 0;
}
.nav-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.nav-info ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.nav-links ul li{
    list-style-type: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: #111;
    font-size: 1.1rem;
    /* animation: underlineAnimation 1s ease-in 0s 1 normal; */
}

.nav-links ul li a:hover{
    border-bottom: 3px solid cornflowerblue;
}


.nav-info .buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7rem;
}

.nav-info .buttons button{
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.nav-info .buttons .sign-in{
    padding: 0.3rem 0.7rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: #fff;
    font-size: 1.1rem;
}

.nav-info .buttons .sign-in:hover{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.729);
    transform: translateY(-4px);
}

.nav-info .buttons .get-started{
    padding: 0.6rem 1.1rem;
    border-radius: 0.6rem;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1.2rem;
}

.nav-info .buttons .get-started:hover{
    box-shadow: 0px 2px 8px black;
    transform: translateY(-4px);
}

.sidebar-menu{
    height: 100vh;
    width: 250px;
    padding: 2rem 1rem;
    background-color: beige;
    position: absolute;
    top: 0px;
    left: -250px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: left 0.4s ease;
    box-shadow: 4px 0 10px rgba(0,0,0,0.2);
}

.sidebar-menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-menu ul li a{
    font-weight: 600;
    font-size: 1.2rem;
}

.sidebar-menu .close-menu{
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

#checked:checked ~ .sidebar-menu{
    left: 0;

}

@media (max-width:1100px){
    .nav-info ul{
        display: none;
    }
    nav{
        padding: 1rem 2rem;
    }

    .logo{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    .logo .menu-bar{
        position: static;
        opacity: 1;
        cursor: pointer;
    }

    .logo h1{
        font-size: 1.8rem;
    }

    .sidebar-menu{
        height: fit-content;
        width: 150px;
    }
}

@media (max-width:495px){
    .nav-info .buttons .sign-in, .nav-info .buttons .get-started{
        font-size: 0.8rem;
    }

    .logo h1{
        font-size: 1.2rem;
    }

    nav{
        padding: 0.8rem;
    }
}